/* Styling Font */
.font-hand { font-family: 'Dancing Script', cursive; }
.font-body { font-family: 'Nunito', sans-serif; }

body {
    background-image: radial-gradient(#fbcfe8 1px, transparent 1px);
    background-size: 20px 20px;
}

.perspective-container {
    perspective: 1500px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

/* --- LOGIC POSISI --- */
#book {
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Tertutup: Tengah */
.book-close {
    transform: translateX(0%);
}

/* Terbuka: Geser Kanan dikit */
.book-open {
    transform: translateX(50%);
}

/* --- KERTAS --- */
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: white;
    overflow: hidden; 
    border-radius: 4px 12px 12px 4px;
}

.front::after {
    content: '';
    position: absolute; top: 0; bottom: 0; left: 0; width: 15px;
    background: linear-gradient(to right, rgba(0,0,0,0.1), transparent);
    pointer-events: none;
}
.back::after {
    content: '';
    position: absolute; top: 0; bottom: 0; right: 0; width: 15px;
    background: linear-gradient(to left, rgba(0,0,0,0.1), transparent);
    pointer-events: none;
}

.front { z-index: 2; }
.back { 
    z-index: 1; 
    transform: rotateY(180deg);
    border-left: 1px solid #f0f0f0; 
}

.flipped {
    transform: rotateY(-180deg);
}

@media (max-width: 768px) {
    #book {
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
}